body {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle, #0f172a, #020617);
  color: #e0f7ff;
  margin: 0;
  padding: 20px;
}

/* TITULO */
.titulo {
  font-size: 40px;
  color: #ff003c;
  text-shadow: 0 0 10px #ff003c, 0 0 20px #ff003c, 0 0 40px #ff003c;
}

.autor {
  color: #38bdf8;
  text-shadow: 0 0 8px #38bdf8;
}

/* PANEL */
.panel {
  margin: 15px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #22c55e;
  text-shadow: 0 0 10px #22c55e;
}

/* CANVAS */
canvas {
  background: #020617;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 20px #38bdf8;
  border-radius: 10px;
}

/* CONTROLES */
.controles {
  margin-top: 20px;
}

/* BOTONES */
button {
  margin: 6px;
  padding: 12px 18px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #0ea5e9, #22c55e);
  color: white;
  transition: 0.2s;
  box-shadow: 0 0 10px #0ea5e9;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #22c55e, 0 0 40px #0ea5e9;
}

/* BOTON REINICIO */
.btn-restart {
  background: linear-gradient(45deg, #ff003c, #ff7b00);
  box-shadow: 0 0 10px #ff003c;
}

.btn-restart:hover {
  box-shadow: 0 0 20px #ff003c, 0 0 40px #ff7b00;
}

/* MENSAJE */
#mensaje {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #facc15;
  text-shadow: 0 0 10px #facc15;
}